ul.level-list {
  list-style: none;
  margin-left: -20px;
  padding-right: 20px;
  position: relative;

  li {
    margin-top: 10px;
    background-color: rgb(134, 134, 134);
    border-radius: 15px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    box-shadow: inset 0 -13px 1em rgba(51, 51, 51, 0.5);

    div:nth-child(1) {
      font-size: 18px;
      color: rgb(185, 185, 185);
    }
    div:nth-child(2) {
      font-size: 13px;
      color: rgb(185, 185, 185);
    }
  }

  li.green {
    background-color: rgb(86, 212, 55);
    div:nth-child(1) {
      color: rgb(255, 255, 255);
    }
    div:nth-child(2) {
      color: rgb(255, 255, 255);
    }
  }
}
