html,
body {
  font-family: "Lato", sans-serif;
  max-width: 100vw;
  margin: 0px;
  padding: 0px;
  border: 0px;
  background-color: #266a8d;
}

.container {
  background-image: url("../images/bgBlue.jpeg");
  background-repeat: repeat;
  background-size: 300px;
  height: 100vh;
  display: grid;
}

.wrapper {
  margin: 0 auto;
  height: 1fr;
  width: 600px;
  background-color: rgba($color: #1f5879, $alpha: 0.5);

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 0.12fr;
  grid-template-areas:
    "game"
    "navbar";
}

.game {
  grid-area: game;

  .status-bar {
    margin-top: 40px;
    padding: 16px;
    background-color: rgba(0, 15, 37, 0.2);
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    box-shadow: 0px 10px 27px rgba(255, 255, 255, 0.4);
    z-index: 9;
    position: relative;
  }

  .clicker-center {
    display: flex;
    justify-content: center;
    height: calc(100% - 100px);
    flex-direction: column;
    align-items: center;
  }

  #shine {
    position: absolute;
    z-index: 1;
    background-image: url("../images/shine.png");
    background-size: 400px;
    background-position: center center;
    height: 400px;
    width: 400px;
    animation: rotate 7s infinite linear;
  }

  #cookie {
    z-index: 10;
    background-image: url("../images/perfectCookie.png");
    background-size: 250px;
    height: 250px;
    width: 250px;
  }

  #cookie:hover {
    cursor: pointer;
    transform: scale(1.05);
    transition: all 0.1s ease-in-out;
  }

  #cookie:active {
    transform: scale(0.9);
    transition: all 0.1s ease-in-out;
  }
}

.navbar {
  grid-area: navbar;
  background-color: rgba($color: #ffffff, $alpha: 0.7);
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  z-index: 9;
  box-shadow: 1px 16px 62px gray;

  a,
  div {
    cursor: pointer;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: rgb(41, 40, 40);
  }

  a > img,
  div > img {
    width: 40px;
    height: 40px;
  }

  a:hover,
  div:hover {
    transform: scale(1.1);
    transition: all 0.1s ease-in-out;
  }

  a:active,
  div:active {
    transform: scale(0.9);
    transition: all 0.1s ease-in-out;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotateBack {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

$s--near: 7s;

.falling-down-cookies-container {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  z-index: 0;
}

.cookies-snow {
  z-index: 1;
  pointer-events: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  animation: falling linear infinite both;
  transform: translate3D(0, -100%, 0);

  &--near {
    animation-duration: $s--near;
    background-image: url("https://i.ibb.co/GMrsV9j/snow-large.png");
    background-size: 600px;
    opacity: 0.7;

    & + .cookies-snow--alt {
      animation-delay: ($s--near / 2);
    }
  }
}

@keyframes falling {
  0% {
    transform: translate3D(0%, -100%, 0);
  }

  100% {
    transform: translate3D(0%, 100%, 0);
  }
}

@mixin on-circle($item-count, $circle-size, $item-size) {
  position: relative;
  width: $circle-size;
  height: $circle-size;
  border-radius: 50%;
  padding: 0;
  list-style: none;

  > * {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -($item-size / 2);
    width: $item-size;
    height: $item-size;
    $angle: (360 / $item-count);
    $rot: 1;

    @for $i from 1 through $item-count {
      &:nth-of-type(#{$i}) {
        transform: rotate($rot * 1deg)
          translate($circle-size / 2)
          rotate(-90deg);
      }

      $rot: $rot + $angle;
    }
  }
}

.circle-container {
  @include on-circle($item-count: 50, $circle-size: 270px, $item-size: 20px);
  position: absolute;
  z-index: 2;
  animation: rotateBack 7s infinite linear;

  img {
    display: block;
    max-width: 100%;
    border-radius: 50%;
  }
}

@media (max-width: 600px) {
  .wrapper {
    width: 100%;
  }

  .game {
    #shine {
      background-size: 240px;
      height: 240px;
      width: 240px;
    }
  }
}

@media (max-width: 335px) {
  .game {
    #cookie {
      background-size: 150px;
      height: 150px;
      width: 150px;
    }
  }

  .circle-container {
    @include on-circle($item-count: 50, $circle-size: 170px, $item-size: 20px);
    position: absolute;
  }
}

@media screen and (min-color-index: 0) and(-webkit-min-device-pixel-ratio:0) {
  .circle-container {
    margin: 0px;
  }
}

.title {
  padding: 0;
  font-size: 21px;
  font-weight: bold;
}
