ul.shop-list {
  list-style: none;
  margin-left: -20px;
  padding-right: 20px;
  position: relative;

  li {
    cursor: pointer;
    border: 7px outset rgb(134, 134, 134);
    background-color: rgb(134, 134, 134);

    display: flex;
    box-shadow: inset 0 -13px 1em rgba(51, 51, 51, 0.5);

    img {
      width: 70px;
      height: 70px;
    }

    div {
      padding-left: 5px;
    }
  }

  li.active {
    background-color: rgb(139, 125, 103);
  }
}

.product-title {
  text-align: left;
  font-size: 30px;
  color: rgba(228, 228, 228, 0.596);
}

.product-title.active {
  color: white;
}

.product-price {
  font-size: 18px;
  font-weight: bold;
  color: rgb(187, 60, 60);
}

.product-price.active {
  color: rgb(47, 177, 47);
}

.quantity {
  position: absolute;
  right: 50px;
  font-size: 60px;
  color: rgba(228, 228, 228, 0.596);
}
